
header {
    background-color: white;
    color: #333;
    padding: 10px 20px; 
    text-align: left;
}

div.dishes{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}



section > div > div.dish {
    display: flex;
    flex-direction: column;
    padding: 30px 40px;
    border-radius: 35px;
    cursor: pointer;
    background-color: white;
    filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
}


    
section > div > div:hover {
    border: 2px solid tomato;
}
    
section > div > div:hover button {
    background-color: tomato;
}

section >div > div> img{
    width: 100%;
    border-radius: 35px;
}

section>div>div>p{
    size: 20px;
}

section>div>div>p.gram{
    color: grey;

}

button.add {
    width: 100%;
    background-color: white;
    border: 0.5px white;
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px 30px;
    cursor: pointer;


}

nav {
    display: flex;
    justify-content: space-around;
    }

    
nav>a {
    font-size: 30px;
    font-family: Arial bold;
    color: #333; 
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
    line-height: 1.5; 
}
    
nav a:first-child {
    margin-left: 0; 
}
    
nav a:hover {
    color: orange; 
}

a.active {
    color: tomato;
}
    
   

@media (max-width: 1500px){

    div.order {
        float: left;
        display: flex;
        flex-direction: column;
        width: 40%;
        
    }

    div.data {
    
        float: right;
        display: flex;
        flex-direction: column;
        width: 40%;
        
    }
}

@media (max-width: 800px) {
    section>div{
        grid-template-columns: repeat(2, 1fr);

    }

    
    

}

@media (max-width: 600px) {
    section>h2{
        text-align: center;
            
    }

    section>div{
        grid-template-columns: 1fr;

    }

      
}

@media (max-width: 480px) {

    nav {
        display: flex;
        flex-direction: column;
        }
        
        
    nav>a {
        font-size: 20px;
        font-family: Arial bold;
        color: #333; 
        text-decoration: none;
        font-weight: bold;
        line-height: 1.5; 
    }

    form{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    div.order {
        margin-top: 30px;
        width: 90%
        
    }

    div.data {
        margin-top: 30px;
        width: 90%;
        
    }
    
    nav.main-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    
}


main {
    margin:20px;
}



footer {
    background-color: black;
    margin: 0px;
    padding: 10px;
    box-sizing: border-box;
}

footer>p{
    color: white;
}

footer>a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: orange;
}

a.calllink {
    text-decoration: none;
    font-family: Arial;
    font-size: 20px;
    color: white;
}

a.calllink:hover {
    color: orange;
}






div.order>select {
    height: 30px;
    margin-top: 5px;
    margin-bottom: 10px;
}

div.order>textarea {
    height: 80px;
    margin-top: px;
}


section>h2 {
    font-size: 40px;
}



section{
    margin-top: 40px;
    margin-bottom: 40px;
}

div.data>input{
    margin-top: 5px;
    margin-bottom: 5px;
    height: 30px;
}

div>label.check-label {
    margin-bottom: 20px;
}

div>label{
    margin-top: 5px;
    margin-bottom: 5px;
}

button.but1{
    margin-top: 3px;
    background-color: white;
    border: 2px solid black;
    flex-direction: row;
    float: left;
    width: 48%;
    height: 30px;
    border-radius: 10px;
}

button.but2{
    margin-top: 3px;
    background-color: white;
    border: 2px solid black;
    flex-direction: row;
    float: right;
    width: 48%;
    height: 30px;
    border-radius: 10px;
}

form>div>div>button:hover{
    background-color: tomato;
    width: 50%;
    height: 35px;

}



form.bottom {
    padding: 20px;
    overflow: hidden;
    margin: 30px;
}

form>h2 {
    text-align: center;
}


form>div>h3 {
    text-align: center;
}


form>div>p {
    color: gray;
    font-size: 15px;
    margin-top: -5px;
}

.buttons{
    height: 40px;
    padding: 2px;
    margin-bottom: 2px;
}


.order-item p {
    margin: 0; 
    line-height: 1.2; 
    font-size: 20px;
}

.order-item p + p {
    margin-bottom: 20px; 
    width: 300px;
}




#no-selection-message {
    display: none; 
}


#no-selection-message {
    display: block; 
    margin-bottom: 20px;
}

#soup-order, #main-order, #drink-order, #total-price-block {
    display: none; 
}

form > div> div > p {
    font-size: 30px;
    font-family:'Arial Narrow Bold'
}

.price-value {
    font-size: 30px;
}


.filters > button{
    margin:0 10px;
    height: 30px;
    border-radius: 15px;
    background-color: white;
    
}

.filters > button:hover{
    background-color: tomato;
}


.filters > button:active{
    background-color: tomato;
}

.filters{
    margin-bottom: 20px;
    width: 40%;
}
